@font-face {
    font-family: 'Pirated';
    font-style: normal;
    font-weight: normal;
    src: url('../public/font/AVGARDD_2.woff') format('woff');
}

body {
    background-color: black;
    margin: 0px;
    font-family: 'Pirated';
}